body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#hero {
  display: inline;
  margin: auto;
  max-height: 250px;
  border-radius: 1em;
}
#playerTurn {
  font-size: x-large;
}
@media (orientation: portrait) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero {
    height: 200px;
  }
  body, #gameContainer {
    flex-direction: column;
  }
  .break {
    height: 1em;
  }
}

@media (orientation: landscape) {
  body {
    background-color: purple;
  }
   #hero {
    max-height: 30vh;
   }
   #gameContainer {
    flex-direction: row;
   }

   #placeShip {
    display: none;
   }

  .break {
    height: 1em;
  }
}

.break {
  /* background-color: pink; */
}

#gameContainer {
  display: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#gameBoard {
  background-color: blue;
}

#gameBoardLayout, #enemyGameBoardLayout {
  display: flex;
  /* flex-direction: column; */
  /* display: inline-block; */
  /* display: grid;
  grid-template-columns: auto; */
  background-color: blue;
}

#lettersContainer, #enemyLettersContainer {
  display: inline-block;
  background-color: white;
  width: 1.5em;
}

.letters {
  padding-top: .25em;
  padding-bottom: 0;
  height: 24.2px;
  border: solid, black, 0.15em;
}

#numbersContainer, #enemyNumbersContainer {
  margin-left: 25px;
  height: 24px;
  /* padding-top: .25em; */
  background-color: white;
  display: flex;
  width: 320px;
  /* text-align: center; */
}

#enemyNumbersContainer {
  /* display: none; */
  visibility: hidden;
}

.numbers {
  padding-top: 2px;
  width: 2em;
  border: solid, black, 0.15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#enemyBoard {
  background-color: red;
}

#enemyGrid,
#playerGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.15em;
}

.enemyGameSquare,
.gameSquare {
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  /* height: 3vw;
  width: 3vw; */
  user-select: none;
}