body {
    background-color: gray;
}

#gameBoard, #enemyBoard {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: blue; */
    min-height: clamp(300px, 32.5vw, 40vh);
    width: clamp(300px, 32.5vw, 40vh);
}

#enemyGrid, #playerGrid {
    /* display: flex; */
    /* flex-direction: column; */
    /* text-align: center; */
    /* background-color: red; */
    /* margin-left: 40vw; */
    /* text-align: center; */
}

.gameSquare {
    /* display: flex;
    flex-direction: column;
    text-align: center; */
    user-select: none;
}